/* Fix Bootstrap row overflow */
.row {
  overflow-x: hidden;
}

/* Mobile navbar wrapper */
.mobile-nav {
  width: 100%;
}

/* Scroll container */
.mobile-nav-scroll {
  display: flex;
  flex-wrap: nowrap;         
  overflow-x: auto;          
  overflow-y: hidden;
  padding: 10px 0;
  gap: 0px;

  -webkit-overflow-scrolling: touch;
}


.mobile-nav-scroll::-webkit-scrollbar {
  display: none;
}


.mobile-nav-item {
  flex: 0 0 auto;            
  padding: 6px 14px;
  background: #f5f5f5;
  border-radius: 20px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.navColor{
    background-color: #7a42bfac;
}

html, body {
  overflow-x: hidden;
}